 @tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow: hidden;
}